/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

.header{
  background-color: #FFDBAA ;
  text-decoration: #553100;
  display:flex;
  flex-direction: row;

}

button{
  background-color:#805215 ;
  height: 4rems ;
  width: 6rem;
}
body{
  background-color: #d4a76a;
}
