/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

.header{
  background-color: #FFDBAA ;
  color: #553100;
  display: flex;
  gap:400px;
  padding: 1rem;


}

button{
  background-color:#805215 ;
  height: 4rems ;
  width: 6rem;
  color: white;
}
body{
  background-color: #d4a76a;
}
.nav{
  display: flex;
  gap: 15px;
}

.cards{
  border-color: black;
  background-color: white;
  

}
.displays{
  display: flex;
}